meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="styleSheet")
link(href="/oc/css/oc.css",rel="styleSheet")
link(href="/oc/css/boot.css",rel="styleSheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
