extends ../layout
block content
    .container
        .row
            .col-sm-2.text-center
                a.c9(href="/article/add")
                    .thumbnail.b9
                        i.f80.c9.iconfont &#xe62d;
                        br
                        span.c9 添加食谱
                        br
                        br
            .col-sm-2.text-center
                a.c9(href="/article/list")
                    .thumbnail.b9
                        i.f80.c9.iconfont &#xe60c;
                        br
                        span.c9 食谱列表
                        br
                        br
            .col-sm-2.text-center
                a.c9(href="/user/list")
                    .thumbnail.b9
                        i.f80.c9.iconfont &#xe634;
                        br
                        span.c9 用户管理
                        br
                        br
            .col-sm-2.text-center
                a.c9(href="/article/add")
                    .thumbnail.b9
                        i.f80.c9.iconfont &#xe637;
                        br
                        span.c9 权限管理
                        br
                        br
            .col-sm-2.text-center
                a.c9(href="/article/add")
                    .thumbnail.b9
                        i.f80.c9.iconfont &#xe636;
                        br
                        span.c9 广告商
                        br
                        br
            .col-sm-2.text-center
                a.c9(href="/article/add")
                    .thumbnail.b9
                        i.f80.c9.iconfont &#xe635;
                        br
                        span.c9 关于私厨
                        br
                        br


