body {
    font-weight: lighter;
    color: #333;
    /*background: rgba(255, 133, 0, 0.29);*/
    background: #fff;
    font-family:"Microsoft Yahei", NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}
.container{
    width: 1170px!important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

img{
    vertical-align: top;
}
.c1 {
    color: #fff;
}

.c2 {
    color: #bbb;
}

.c3 {
    color: #333;
}

.c4 {
    color: #009fff;
}

.c5 {
    color: #ff9900;
}

.c6 {
    color: #ff4400;
}

.header-box {
    position: absolute;
    height: 50px;
    border-bottom: 1px solid #ff4d00;
    box-shadow: 1px 1px 4px #ffeb00;
    width: 100%;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff9900), to(#ff4400));
    color: #fff;
}
.index-head-left{
    width: 540px;
    float: left;
}
.index-head-right{
    width: 280px;
    float: left;
}
.login-box {
    font-size: 24px;
}

.placeholder-height {
    height: 70px;
}

.wrap-left {
    float: left;
    width: 820px;
}

.wrap-right {
    float: right;
    width: 300px;
}

.carousel-index{
    height: 409px;
    margin-bottom: 20px;
}
.carousel-control.right {
    left: auto;
    right: 15px;
}
.oc-feed-right-box{
    padding-left: 20px;
    height: 194.5px;
}
.oc-feed-right-box:first-child{
    margin-bottom: 20px;
}
.oc-feed-right-box img{
    width: 100%;
    height: 100%;
}
.carousel-inner .item img{
    width: 100%;
    height: 409px;
}

/*列表模块css*/
.article-list-wrap{
}
.article-box{
    width: 260px;
    margin-bottom: 20px;
    border:1px solid #f0f0f0;
}
.article-box img{
    width: 100%;
}
.article-box .title{
    margin: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.article-box:hover {
    box-shadow: 5px 5px 10px rgba(45,50,55,.2);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
}

/*标记*/
.mod-angle {
    position: absolute;
    left: -10px;
    height: 24px;
    color: #fff;
    text-align: center;
    background-color: #fb2200;
    line-height: 24px;
    padding: 0 10px;
    z-index: 20;
    top: 10px;
    font-size: 14px
}
.mod-angle:after{
    content: " ";
    position: absolute;
    left: 0;
    top: 24px;
    width: 0;
    height: 0;
    border-top: 6px solid #cd213d;
    border-left: 10px solid transparent
}




/*公用过渡*/
.transition {
    -webkit-transition:all .2s ease-out;
    -moz-transition:all .2s ease-out;
    -ms-transition:all .2s ease-out;
    -o-transition:all .2s ease-out;
    transition:all .2s ease-out;
}
